include ../mixins/functions

+pageHeader('Características de frutas y verduras para su procesamiento', 'assets/images/header/header_media.png')

.container#impacto

    .header-ecored

        h1 Introducción

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img1.svg", style="width: 10%")
    
    .row.mx-0

        .col-12

            hr.linea

            p El primer aspecto para considerar en el procesamiento de frutas y verduras es la materia prima que va a ser procesada y que determinará en gran medida la calidad del producto final; así mismo, los ingredientes utilizados son muy importantes porque cumplen una función específica que aumenta el valor agregado del producto.

            p Teniendo en cuenta la gran versatilidad de las frutas y verduras, existen numerosos equipos para su procesamiento, algunos específicos para cierta materia prima y otros que se pueden adaptar a las condiciones requeridas.

            p Este material de formación aborda las materias primas, principalmente ingredientes y equipos, para el procesamiento de frutas y verduras.

            hr.linea